.gridContainer{
    display: grid;
    width: 100vw;
    margin-left: 25px;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
}

.title{
    padding: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: #535151;
    font-size: 32px;
    font-weight: 600;
}

.parentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}